.render-admin i {
   margin-right: 0 !important;
}

.render-admin {
   margin-top: 7% !important;
}

.book-list .content {
   padding-left: 25px !important;
   padding-right: 25px !important;
   width: 350px !important;
}
