body {
   background-color: #dae2d5;
}

.mobile button.ui.google.button {
   padding: 8px 12px;
}

.mobile .ui.secondary.pointing.menu {
   margin-top: 5px;
   padding-bottom: 5px;
}

@media screen and (max-width: 767px) {
   .wide-only {
      display: none;
   }
}

@media screen and (min-width: 768px) {
   .mobile-only {
      display: none;
   }
}

.item:first-of-type {
   border-top: unset;
}

.mobile-only a.ui.button {
   background: none;
}

/* Footer */
.ui.inverted.segment {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
}
